.list-services .slick-track {
  display: flex;
}

.list-services .slick-slide {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 410px;
  padding: 52px 600px 0 70px;

  background-color: #f6f7ff;
  border-radius: 0 4px 4px 4px;

  &::after {
    content: "";

    position: absolute;

    width: 440px;
    height: 290px;

    background-repeat: no-repeat;
  }
}

.list-services__item--holding::after {
  top: 59px;
  right: 135px;

  background-image: url("../img/piggy-bank-big.png");
}

.list-services__item--credits::after {
  top: 53px;
  right: 135px;

  background-image: url("../img/car-big.png");
}

.list-services__item--insurance::after {
  top: 45px;
  right: 135px;

  background-image: url("../img/lock-big.png");
}

.list-services__item--online-services::after {
  top: 50px;
  right: 135px;

  background-image: url("../img/phone-big.png");
}

.list-services__item-title {
  margin: 0;
  width: 375px;
  z-index: 1;

  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #1f1e25;
}

.list-services__item--credits .list-services__item-title {
  width: 300px;
}

.list-services__item--online-services .list-services__item-title {
  width: 470px;
}

.list-services__item-link-btn {
  margin-top: 34px;
  margin-bottom: auto;
  width: 198px;
  min-height: 51px;
  padding: 16px 10px;
  z-index: 1;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F6F7FF;
  text-align: center;

  background-color: #2c36f2;
  border-radius: 4px;

  &:hover {
    opacity: 0.5;

    cursor: pointer;
  }
}

.list-services__item-info {
  margin: 0;
  margin-top: 28px;
  width: 350px;
  z-index: 1;

  font-size: 18px;
  line-height: 140%;
  color: #1f1e25;
}

.list-services__item-link {
  z-index: 1;

  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #1f1e25;

  text-decoration-line: underline;
}

.list-services__item--online-services .services-list-plus li {
  width: 370px;
}

.list-services__item--online-services .services-list-plus .services-list-plus__item--special-one {
  width: 245px;
}

@media (max-width: $tablet-width-max) {
  .list-services .slick-slide {
    min-height: 380px;
    padding: 55px 300px 0 45px;

    &::after {
      width: 289px;
      height: 260px;
    }
  }

  .list-services__item--holding::after {
    top: 59px;
    right: 45px;

    background-image: url("../img/piggy-bank-medium.png");
  }

  .list-services__item--credits::after {
    top: 58px;
    right: 44px;

    background-image: url("../img/car-medium.png");
  }

  .list-services__item--insurance::after {
    top: 60px;
    right: 46px;

    background-image: url("../img/lock-medium.png");
  }

  .list-services__item--online-services::after {
    top: 60px;
    right: 45px;

    background-image: url("../img/phone-medium.png");
  }

  .list-services__item-title {
    width: 320px;

    font-size: 18px;
  }

  .list-services__item--credits .list-services__item-title {
    width: 260px;
  }

  .list-services__item--insurance .list-services__item-title {
    width: 300px;
  }

  .list-services__item--online-services .list-services__item-title {
    width: 400px;
  }

  .list-services__item-link-btn {
    margin-top: 29px;
    min-height: 48px;
    padding: 16px 10px;
  }

  .list-services .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -23px;
    padding: 0;
    width: 57px;
    z-index: 100;

    list-style: none;
  }

  .list-services .slick-dots li {
    display: flex;
    width: 8px;
    height: 8px;
  }

  .list-services .slick-dots li button {
    width: 8px;
    height: 8px;
    padding: 0;

    font-size: 0;

    background-color: #2028B6;
    border: none;
    border-radius: 20px;

    &:hover {
      opacity: 0.5;

      cursor: pointer;
    }
  }

  .list-services .slick-dots .slick-active button {
    background-color: #e0e0e0;
  }

  .list-services__item-info {
    width: 330px;

    font-size: 16px;
  }

  .list-services__item-link {
    font-size: 16px;
  }

  .list-services__item--online-services .services-list-plus li {
    width: 350px;
  }

  .list-services__item--online-services .services-list-plus .services-list-plus__item--special-one {
    width: 220px;
  }
}

@media (max-width: $mobile-width-only) {
  .list-services .slick-slide {
    min-height: 362px;
    padding: 54px 15px 0 15px;

    &::after {
      top: 99px;
      right: 0;

      width: 87px;
      height: 113px;
    }
  }

  .list-services__item--holding::after {
    background-image: url("../img/piggy-bank-min.png");
  }

  .list-services__item--credits::after {
    background-image: url("../img/car-min.png");
  }

  .list-services__item--insurance::after {
    background-image: url("../img/security-min.png");
  }

  .list-services__item--online-services::after {
    background-image: url("../img/phone-min.png");
  }

  .list-services__item-title {
    width: 100%;

    font-size: 16px;
  }

  .list-services__item--credits .list-services__item-title {
    width: 75%;
  }

  .list-services__item--insurance .list-services__item-title {
    width: 95%;
  }

  .list-services__item--online-services .list-services__item-title {
    width: 84%;
  }

  .list-services__item-link-btn {
    width: 100%;
    margin-top: 27px;
    min-height: 43px;
    padding: 12px 10px;

    font-size: 14px;
    line-height: 16px;
  }

  .list-services__item--online-services .services-list-plus li {
    width: 73%;
  }

  .list-services__item--online-services .services-list-plus .services-list-plus__item--special-one {
    width: 65%;
  }

  .list-services .slick-dots {
    margin-top: -17px;
    width: 41px;
  }

  .list-services .slick-dots li {
    width: 6px;
    height: 6px;
  }

  .list-services .slick-dots li button {
    width: 6px;
    height: 6px;
  }

  .list-services__item-info {
    width: 98%;
    margin-top: 24px;

    font-size: 14px;
  }

  .list-services__item-link {
    font-size: 14px;
  }
}
