.list-step-two {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;

  list-style: none;
}

.list-step-two li {
  margin-top: 17px;
}

.list-step-two__item-title {
  margin: 0;

  font-size: 16px;
  line-height: 140%;
  color: #394959;
}

.list-step-two__item-wrapper {
  position: relative;

  margin-top: 10px;
}

.list-step-two__item-input {
  display: none;
}

.list-step-two__item-input-item {
  width: 100%;
  padding: 16px 0 17px 0;
  text-align: center;

  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #1f1e25;

  border: 1px solid #1f1e25;
  border-radius: 4px;
}

.list-step-two__item-input::-webkit-outer-spin-button,
.list-step-two__item-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.list-step-two__item-btn-minus {
  position: absolute;
  left: 24px;
  top: 28px;

  height: 1px;
  width: 16px;

  background-color: transparent;
  background-color: #1f1e25;
  border: none;
}

.list-step-two__item-btn-plus {
  position: absolute;
  right: 24px;
  top: 21px;

  height: 16px;
  width: 16px;

  background-color: transparent;
  background-image: url("../img/icon-plus.svg");
  border: none;
}

.list-step-two__additional {
  display: flex;
  margin-top: 10px;
}

.list-step-two__text-additional {
  padding-left: 8px;

  font-size: 16px;
  color: #1f1e25;
}

.list-step-two__checkbox-indicator {
  position: relative;

  width: 16px;
  height: 16px;
  margin-top: 3px;

  background-color: #2c36f2;
  border-radius: 2px;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.list-step-two__checkbox:checked + .list-step-two__checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 4px;

  width: 8px;
  height: 7px;

  background-image: url("../img/icon-tick-form.svg");
  background-repeat: no-repeat;
}

.list-step-two__additional--none {
  display: none;
}
