.list-step-two {
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-step-two li {
  margin-top: 16px;
}

.list-step-two__item-title {
  margin: 0;

  font-size: 16px;
  line-height: 140%;
  color: #394959;
}

.list-step-two__item-wrapper {
  position: relative;

  margin-top: 10px;
}

.list-step-two__item-input {
  display: none;
}

.list-step-two__item-input-item {
  width: 100%;
  padding: 16px 227px;
  padding-right: 220px;

  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #1f1e25;

  border: 1px solid #1f1e25;
  border-radius: 4px;
}

.list-step-two__item-input::-webkit-outer-spin-button,
.list-step-two__item-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.list-step-two__item-btn-minus {
  position: absolute;
  left: 24px;
  top: 28px;

  height: 1px;
  width: 16px;

  background-color: transparent;
  background-color: #1f1e25;
  border: none;
}

.list-step-two__item-btn-plus {
  position: absolute;
  right: 24px;
  top: 21px;

  height: 16px;
  width: 16px;

  background-color: transparent;
  background-image: url("../img/icon-plus.svg");
  border: none;
}
