.popup {
  position: absolute;
  left: 50%;
  top: -4000px;

  // width: 544px;
  width: 100%;
  min-width: 544px;
  max-width: 544px;
  width: 100%;
  height: 493px;
  padding: 0 30px;
  z-index: 100000;

  transform: translate(-50%, 0);
}

.popup__container {
  width: 100%;
  padding: 56px 56px;

  border: 4px solid #2c36f2;
  background-color: #f6f7ff;
}

.popup__close {
  position: absolute;
  top: 56px;
  right: 55px;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 0;
  background-image: url("../img/icon-close-popup.svg");
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.5;

    cursor: pointer;
  }
}

.popup-show {
  position: fixed;
  top: 88px;
}

.popup-show--body {
  overflow-y: hidden;
}

@media (max-width: $tablet-width-max) {
  .popup {
    min-width: 678px;
    max-width: 1024px;
    height: 493px;
    padding: 0 15px;
  }

  .popup-show {
    top: 71px;
  }

  .popup__close {
    top: 55px;
    right: 83px;
  }
}

@media (max-width: $mobile-width-only) {
  .popup {
    min-width: 290px;
    height: 455px;
  }

  .popup__container {
    padding: 46px 16px;
    padding-bottom: 10px;
  }

  .popup-show {
    top: 50px;
  }

  .popup__close {
    top: 50px;
    right: 29px;

    background-size: 12px 12px;
  }

  .popup__logo {
    margin-left: -6px;
  }
}
