.popup {
  position: absolute;
  left: 50%;
  top: -4000px;

  padding: 56px 56px;
  width: 544px;
  height: 493px;
  z-index: 100000;

  background-color: #f6f7ff;
  border: 4px solid #2c36f2;

  transform: translate(-50%, 0);
}

.popup__close {
  position: absolute;
  top: 56px;
  right: 55px;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 0;
  background-image: url("../img/icon-close-popup.svg");
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.5;

    cursor: pointer;
  }
}

.popup-show {
  position: fixed;
  top: 88px;
}

.popup-show--body {
  overflow-y: hidden;
}

@media (max-width: $tablet-width-max) {
  .popup {
    width: 678px;
    height: 493px;
  }

  .popup-show {
    top: 71px;
  }

  .popup__close {
    top: 55px;
    right: 83px;
  }
}

@media (max-width: $mobile-width-only) {
  .popup {
    padding: 46px 16px;
    padding-bottom: 10px;
    width: 290px;
    height: 455px;
  }

  .popup-show {
    top: 50px;
  }

  .popup__close {
    top: 46px;
    right: 10px;

    background-size: 12px 12px;
  }

  .popup__logo {
    margin-left: -6px;
  }
}
