.services__container {
  display: flex;
  flex-direction: column;
  min-height: 503px;
  width: 100%;
  min-width: 1024px;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 61px;
}

.services__wrapper {
  min-height: 410px;
}

@media (max-width: $tablet-width-max) {
  .services__container {
    min-height: 380px;
    min-width: $mobile-width;
    // max-width: 760px;
    padding: 0;
  }

  .services__wrapper {
    min-height: 380px;
  }

  .services .slick-slider {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $mobile-width-only) {
  .services__container {
    min-height: 362px;
    min-width: $mobile-width;
    // max-width: 320px;
  }

  .services__wrapper {
    min-height: 362px;
  }
}
