.step-one {
  padding-top: 50px;
}

.step-one__title {
  margin: 0;

  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #1f1e25;
}

.step-one .selectize-input {
  position: relative;

  width: 100%;
  margin-top: 22px;
  padding: 18px 22px;

  border: 1px solid #1f1e25;
  border-radius: 4px;
  outline: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1f1e25;
}

.step-one .selectize-control .selectize-input::after {
  right: 23px;
  top: 27px;

  width: 17px;
  height: 13px;

  background-image: url("../img/arrow-bottom.svg");
  background-repeat: no-repeat;

  border: none;
}


.step-one .selectize-input input {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1f1e25;
  opacity: 1;
}

.step-one .option {
  min-height: 60px;
  width: 100%;
  padding: 18px 22px;

  border-top: 1px solid #c1c2ca;

  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1f1e25;
}

.step-one .selectize-dropdown {
  border: 1px solid #1f1e25;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.step-one .selectize-dropdown-content {
  max-height: 180px;
}

.step-one__wrapper {
  position: relative;
}

.step-one .selectize-control .input-active {
  border-radius: 4px 4px 0 0;

  &::after {
    background-image: url("../img/arrow-top.svg");
  }
}
