.step-two {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
}

.step-two--none {
  display: none;
};

.step-two__title {
  margin: 0;

  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #1f1e25;
}
