.step-three {
  display: flex;
  flex-direction: column;
  width: 770px;
  min-height: 722px;
  margin: 0 auto;
  margin-top: 64px;
  padding: 0px 70px;
  padding-top: 65px;

  background-color: #f6f7ff;
  border-radius: 4px;
}

.step-three__title {
  margin: 0 auto;

  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #1f1e25;
}

.step-three_btn-submit {
  width: 198px;
  min-height: 51px;
  margin: 0 auto;
  margin-top: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f6f7ff;

  background-color: #2c36f2;
  border: none;
  border-radius: 4px;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.step-three--none {
  display: none;
}
