.tabs-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.tabs-list__item {
  position: relative;

  display: flex;
  width: 293px;
  min-height: 93px;
}

.tabs-list__item--active .tabs-list__button {
  background-color: #f6f7ff;
  border-radius: 4px 4px 0 0;

  &:hover {
    opacity: 1;

    cursor: default;
  }
}

.tabs-list__button {
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 2px;

  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #1f1e25;

  background-color: transparent;
  border: none;

  &:hover {
    opacity: 0.5;

    cursor: pointer;
  }
}

.tabs-list__wrapper {
  display: flex;
  margin: 0 auto;
}

.tabs-list__button span {
  margin-left: 9px;
  margin-top: 6px;
}

@media (max-width: $tablet-width-max) {
  .tabs-list {
    display: none;
  }
}
